body {
    background-color: #ea97ea;
    border:6px solid #800080;
    padding: 30px;
    margin: 0px;
}
a:link {
color: blue;
text-decoration: underline;
}
a:hover {
color: crimson;
text-decoration: underline;
}
a:active {
color: dodgerblue;
text-decoration: none;
}
a:visited {
color: darkorchid;
text-decoration: wavy;
}
table, th, td {
   border: 2px brown solid; 
}